.bg-homebanner1 {
    background-image: url('../images/hotel-3.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.bg-homebanner2 {
    background-image: url('../images/hotel-2.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
}
