/* body {
    background: url('https://awsimages.detik.net.id/community/media/visual/2023/01/18/bunga-kamboja.png?w=1200'), url('https://cdn.britannica.com/98/214598-050-9879F2FA/giant-sequoia-tree-Sequoia-National-Park-California.jpg');
    background-repeat: no-repeat, repeat;
    color: white;
} */

/* h2 {
    color: orange;
    font-family: Trebuchet MS;
    text-align: center;
} */

.kotak {
    padding: 50px;
    margin: 10px;
    width: 100px;
    color: #FFFFFF;
    background: orange;
}

#kotak {
    padding: 50px;
    width: 400px;
    color: #FFFFFF;
    background: blue;
}

.tulisan-satu {
    color: red;
    font-family: sans-serif;
    font-style: normal;
}

.tulisan-dua {
    color: red;
    font-size: 24pt;
    font-style: italic;
}

.tulisan-tiga {
    color: blue;
    font-weight: bold;
    font-style: oblique;
}